


*{
    font-family: $ff-montserrat;
}

h1{
    display: none;
}

body{
    @include color-texto($color-fondo);
    
}

.contenedor__texto-principal{
    @include flexbox(column, space-between, stretch);
    padding-top: 3rem;

    //mixin de media query
    @include MQ-md{
        padding-top: 10rem;
        padding-left: 10rem;
    }
}

.h2-texto-principal{
    font-size: 3rem;
    padding-left:2rem;

    //mixin de media query
    @include MQ-md{
        font-size: 7rem;
    }
}

.p-texto-principal{
    font-size: 1rem;
    padding-left: 2rem;
    //mixin de media query
    @include MQ-md{
    font-size: 2rem;
    padding-left: 50rem;   
    }
}

.p-texto-principal-dos{
    font-size: 1rem;
    padding-left: 2rem;
    //mixin de media query
    @include MQ-md{
    font-size: 2rem;
    }
}

.color-texto-principal{
    color:aquamarine;
}

.contenedor__subtitulo{
    padding-top: 3rem;
    @include flexbox(row, center, center);

    padding-bottom: 2rem;

    @include MQ-md{
    padding-bottom: 5rem;
    }
    

}

.h2-subtitulo{
    font-size: 2.5rem;
}